
<html>
    <body>
        <h1>JWT토큰내 JSON데이터 확인하기 </h1>
        
        사용자아이디: <%=jsonData.user_id%> <br/>
        메일주소: <%=jsonData.email%><br/>
        사용자 유형: <%=jsonData.user_type%><br/>
        이름: <%=jsonData.name%><br/>
        전화번호:<%=jsonData.telephone%><br/>



    </body>
</html>