        <!--우측 콘텐츠 헤더영역 -->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>게시글 확인/수정</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Home></a>
                    </li>
                    <li>
                        <a>게시글관리></a>
                    </li>
                    <li class="active">
                        <strong>확인/수정</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <!--우측 콘텐츠 영역 -->
        <div class="wrapper wrapper-content">
            <form action="/article/modify/<%=article.article_id%>" method="post" id="articleForm">
                <div class="ibox-content m-b-sm border-bottom">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">게시글 제목</label>
                                <input type="text" name="title" id="title" class="form-control" value="<%=article.title%>">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">글내용</label>
                                <textarea class="form-control" name="contents" id="contents" rows="10" cols="5"><%=article.contents%></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">게시글유형</label>
                                <select name="articleTypeCode" id="articleTypeCode" class="form-control">
                                    <option value="0" <% if(article.article_type_code == 0){%>selected<% }%> >일반 게시글</option>
                                    <option value="1" <% if(article.article_type_code == 1){%>selected<% }%> >고정 게시글</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">게시여부</label>
                                <select name="isDisplayCode" id="isDisplayCode" class="form-control">
                                    <option value="0" <% if(article.is_display_code == 0){%>selected<% }%> >게시안함</option>
                                    <option value="1" <% if(article.is_display_code == 1){%>selected<% }%> >게시함</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">수정일시</label>
                                <input type="text" class="form-control" disabled value="<%= moment(article.edit_date).format("YYYY-MM-DD HH:mm:ss")%>">
                            </div>
                        </div>

                    </div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">저장</button>
                        <a href="/article/list" class="btn btn-info">목록</a>
                        <a href="#" class="btn btn-danger" id="btnDelete">삭제</a>
                        <input type="hidden" id="articleId" value="<%=article.article_id%>" />
                    </div>

                </div>
            </form>
        </div>


        <script>

            $("#btnDelete").click(function(){
                if(confirm("정말로 해당 게시글을 삭제하시겠습니까?")){
                    //확인팝업내 확인버튼을 누르면 하기 코드가 실행되고 취소를 누르면 하기코드를 건너뜁니다.
                    location.href="/article/delete?aid="+$("#articleId").val();
                }
            });


        </script>